body{
    margin-left: 500px;
    margin-top: 350px;
    animation: glow 1s infinite linear;
}
span{
    display: inline-block;
    margin: 8px;
    box-shadow: 0 0 15px black;
    padding: 20px 25px;
    animation: movement 1s infinite linear;
}
/* @keyframes movement{
    0%{
        transform: scaleX(0px)
    }
    50%{
        transform: scaleX(100px)
    }
    100%{
        transform: scaleX(0px)
    }
} */
/* @keyframes movement{
    0%{
        transform: scaleY(0px)
    }
    50%{
        transform: scaleY(100px)
    }
    100%{
        transform: scaleY(0px)
    }
} */
/* @keyframes movement{
    0%{
        transform: scale(0px)
    }
    50%{
        transform: scale(100px)
    }
    100%{
        transform: scale(0px)
    }
} */
/* @keyframes movement{
    0%{
        transform: skewX(0px)
    }
    50%{
        transform: skewX(100px)
    }
    100%{
        transform: skewX(0px)
    }
} */
/* @keyframes movement{
    0%{
        transform: scaleY(0px)
    }
    50%{
        transform: scaleY(100px)
    }
    100%{
        transform: scaleY(0px)
    }
/* } */
/* @keyframes movement{
    0%{
        transform: skew(0px)
    }
    50%{
        transform: skew(100px)
    }
    100%{
        transform: skew(0px)
    }
} */ 
@keyframes movement{
    0%{
        transform: matrix(0px)
    }
    50%{
        transform: matrix(100px)
    }
    100%{
        transform: matrix(0px)
    }
}
/* span:nth-child(1){
    background: linear-gradient(45deg,black,rgb(177, 99, 99));
    animation-delay: 0.2s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(2){
    background: linear-gradient(45deg,black,rgb(177, 99, 99));
    animation-delay: 0.3s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(3){
    background: linear-gradient(45deg,black,rgb(177, 99, 99));
    animation-delay: 0.4s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(4){
    background: linear-gradient(45deg,black,rgb(177, 99, 99));
    animation-delay: 0.5s;
    box-shadow: 0 10px 15px black;
} */
