.body{
    width: 100%;
    background-color: black;
}
.col-md-3.offset-1.float-left.card.card-body.mb-4{
    height: 400px;
}
.img-thumbnail.card.card-body{
    height: 50%;
    width: 100%;
}
.card{
    height: 100%;
    width: 100%; 
}
.text{
    color: rgb(61, 46, 23);
}