<div class="col-md-6 offset-md-3 mt-5">
    <img src="https://cdn.pixabay.com/photo/2019/04/29/17/01/virat-4166561__340.png" alt="">
    <h1>Virat kohli</h1>
    <p>Virat Kohli (About this soundpronunciation (help·info); born 5 November 1988) is an Indian cricketer who currently captains the India national team. A right-handed top-order batsman, Kohli is regarded as one of the best batsmen in the world.[3] He plays for Royal Challengers Bangalore in the Indian Premier League (IPL), and has been the team's captain since 2013. Since October 2017, he has been the top-ranked ODI batsman in the world and is currently the leading batsman in the Test rankings.[4] Among Indian batsmen, Kohli has the best ever Test rating (937 points), ODI rating (911 points) and T20I rating (897 points).</p>
</div>
