<div class="hello">
    <div class=" ">
        <a routerLink = "child1"><img class="col-md-3 offset-md-1 float-left" src="https://cdn.pixabay.com/photo/2019/04/29/17/01/virat-4166561__340.png" alt=""></a>
    </div>
    <div class="">
        <a routerLink = "child2"><img class="col-md-3 offset-md-1 float-left" src="https://cdn.pixabay.com/photo/2019/09/06/15/18/modi-4456532__340.jpg" alt=""></a>
    </div>
    <div class="">
        <a routerLink = "child3"><img class="col-md-3 offset-md-1" src="https://cdn.pixabay.com/photo/2019/04/29/17/01/virat-4166561__340.png" alt=""></a>
    </div>
</div>

<router-outlet></router-outlet>
